<%= render "navbar.html", cmc_global_values: @cmc_global_values %>

<div class="container">
  <div class="row pt-5 mt-5">
    <div class="col text-center">
      <h2>More interesting things coming soon</h2>
    </div>
  </div>
</div>
